
@{
    ViewBag.Title = "Article";
}

@using GridMvc.Html;

@model IEnumerable <DAL.Article>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-article').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.ArticleID).Titled("ID");
    columns.Add(p => p.ArticleName).Titled("Nom")
                               .Filterable(true);
    columns.Add(p => p.CategoryID).Titled("Catégorie")
                                 .Filterable(true);
    columns.Add(p => p.GenreID).Titled("Genre")
                             .Filterable(true);
    columns.Add(p => p.Duration).Titled("Durée");
    columns.Add(p => p.ReleaseDate).Titled("Date de sortie");
    columns.Add(p => p.Director).Titled("Réalisateur");
    columns.Add(p => p.Note).Titled("Note");
    columns.Add(p => p.Quantity).Titled("Quantité")
                                .Sortable(true);
    columns.Add(p => p.Price).Titled("Prix")
                            .Sortable(true);
    columns.Add(p => p.DateAdded).Titled("Date de l'ajout")
                                  .Sortable(true);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(p => Html.ActionLink(" ", "EditArticle", new { id = p.ArticleID }, new {@class= "glyphicon glyphicon-pencil" } ));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(p => "<button class='btn btn-default btn-delete-article' data-id='" + p.ArticleID + "'> <span class='glyphicon glyphicon-trash' /> </button>");
}).WithPaging(7)

<div>
    @Html.ActionLink("Ajouter un nouveau article", "EditArticle")
</div>
<div>
    @Html.ActionLink("Liste des catégorie", "ListeCategorie", "Categorie")
</div>
<div>
    @Html.ActionLink("Liste des genres", "ListeGenre", "Genre")
</div>