@model WebApplication.Models.FactureEditee

@{
    ViewBag.Title = "Facture";
}


<style type="text/css">
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>FACTURE</h2><h3 class="pull-right">Numéro # @Html.DisplayFor(model => model.FactureID)</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>LOCAT'ME</strong><br>
                        391, rue des universités<br>
                        38000, Grenoble<br>
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Client:</strong><br>
                        @Html.DisplayFor(model => model.CustomerName)<br>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Agent:</strong>
                       @Html.DisplayFor(model => model.User)
                    </address>
                </div>
                <div class="col-sm-6 col-sm-offset-6 text-right">
                    <address>
                        <strong>Date de facture:</strong><br>
                        @Html.DisplayFor(model => model.FactureDate)<br><br>
                    </address>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Récapitulatif</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Référence</strong></td>
                                    <td class="text-center"><strong>Article</strong></td>
                                    <td class="text-center"><strong>Catégorie</strong></td>
                                    <td class="text-right"><strong>Quantité</strong></td>
                                    <td class="text-right"><strong>Prix (Par unité)</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Article1ID)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.ArticleName1)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.Catégorie1)</td>
                                    <td class="text-right">@Html.DisplayFor(model => model.Quantity1)</td>
                                    <td class="text-right">@Html.DisplayFor(model => model.Price1)</td>
                                    <td class="text-right">@(Model.Price1 * Model.Quantity1)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Article2ID)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.ArticleName2)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.Catégorie2)</td>
                                    <td class="text-right">@Html.DisplayFor(model => model.Quantity2)</td>
                                    <td class="text-right">@Html.DisplayFor(model => model.Price2)</td>
                                    <td class="text-right">@(Model.Price2 * Model.Quantity2)</td>
                                </tr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-right"><strong>TOTAL</strong></td>
                                    @{
                                        int? t2,p2;
                                        if (Model.Price2 == null)
                                        {
                                            p2 = 0;
                                        }

                                        else {
                                            p2 = Model.Price2;

                                        }

                                        if (Model.Quantity2 == null)
                                        {
                                            t2 = 0;
                                        }

                                        else { t2 = Model.Quantity2; }
                                    }
                                    <td class="thick-line text-right">@(Model.Price1 * Model.Quantity1 + p2 * t2)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>